/* NAMES AND SHIT*/
body{
	margin: 0;
	padding: 0;
	font-family:"Oswald", "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/*Blade/section styles*/

#hotline{
	padding: 18px 0;
	background-color: #EA5E5E;
	color: #fff;
	font-size: 18px;
}
#centers{
	padding: 18px 0;
	background-color: #E8AA60;
	color: #fff;
	font-size: 18px;
}
#resources{
	padding: 18px 0;
	background-color: #E8D560;
	color: #fff;
	font-size: 18px;
}
#events{
	padding: 18px 0;
	background-color: #A8D180;
	color: #fff;
	font-size: 18px;
}
#figures{
	padding: 18px 0;
	background-color: #66A8DC;
	color: #fff;
	font-size: 18px;
}
#about{
	padding: 18px 0;
	background-color: #A269AC;
	color: #fff;
	font-size: 18px;
}
#footer{
	padding: 18px 0;
	background-color: #333;
	color: #fff;
	font-size: 18px;

/* Container style */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

