body {
  margin:0;
padding: 0;
font-family:"Oswald", "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
background-color: #A269AC;
font-size: 55px;
color: #fff;
padding: 25px;
}


p {
  font-size: 45px;}
